<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbs.mapper.P_orderMapper">

	<insert id="orderInsert">
		insert into p_order(order_id, m_no, postnum, address, detailed_address, recipient_name, recipient_phone, order_price, p_no, op_no1, option_quantity1, op_no2)
    	values(#{order_id}, #{m_no}, #{postnum}, #{address}, #{detailed_address}, #{recipient_name}, #{recipient_phone}, #{order_price}, #{p_no}, #{op_no1}, #{option_quantity1}, #{op_no2})
	</insert>

	<select id="adminMainOH" resultType="com.bbs.model.P_orderDTO">
		select * from member m join p_order po on m.m_no = po.m_no join product p on po.p_no = p.p_no limit 0, 30
	</select>
	
	<select id="adminOrderListPage" resultType="com.bbs.model.P_orderDTO">
		select * from member m join p_order po on m.m_no = po.m_no join product p on po.p_no = p.p_no
	</select>
	
	<select id="myOrderList" resultType="com.bbs.model.P_orderDTO">
		select * from member m join p_order po on m.m_no = po.m_no join product p 
		on po.p_no = p.p_no where m.m_no = #{m_no}
	</select>
	
</mapper>